body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

h2{
  text-decoration: underline;
  text-underline-offset: 0.2em;
  margin-bottom: 0px;
}

h3{
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.light {
  background: #ffffff;
  color: #222222;
}

.dark {
  background: #222222;
  color: #ffffff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.expense-form input,
.expense-form select,
.expense-form button {
  background-color: inherit;
  color: inherit;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
}

.light .expense-form input,
.light .expense-form select {
  background-color: #fff;
  color: #000;
  border: 1px solid #333;
}

.dark .expense-form input,
.dark .expense-form select {
  background-color: #444;
  color: #fff;
  border: 1px solid #888;
}

button {
  cursor: pointer;
}

.submit-button {
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s ease;
}

.light .submit-button {
  background-color: #333;
  color: #fff;
}

.light .submit-button:hover {
  background-color: #555;
}

.dark .submit-button {
  background-color: #ddd;
  color: #000;
}

.dark .submit-button:hover {
  background-color: #bbb;
}

.submit-button2 {
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 8px;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
}

.light .submit-button2 {
  background-color: #333;
  color: #fff;
}

.light .submit-button2:hover {
  background-color: #555;
}

.dark .submit-button2 {
  background-color: #ddd;
  color: #000;
}

.dark .submit-button2:hover {
  background-color: #bbb;
}

.color {
  background-color: #ffe8e4;
  color: #8a5451;
}

.color h1,
.color h2,
.color h3 {
  color: #8a5451;
}

.color .expense-form input,
.color .expense-form select {
  background-color: #fff5f8;
  color: #8a5451;
  border: 1px solid #8a5451;
}

.color .submit-button {
  background-color: #788a66;
  color: #c9e5d6;
}

.color .submit-button:hover {
  background-color: #7D9094;
}

.color .submit-button2 {
  background-color: #788a66;
  color: #c9e5d6;
}

.color .submit-button2:hover {
  background-color: #7D9094;
}
